<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: header"></div>

    <div class="container mt-5">
        <h2 th:text="${title}">Delete Food Items</h2>
        <form action="#" th:action="@{/foodItems/delete}" method="post">
            <div class="mb-3">
                <h5>Select Food Items to Delete:</h5>
                <div th:each="foodItem : ${foodItems}">
                    <div>
                        <input type="checkbox" th:value="${foodItem.id}" name="foodItemIds" id="foodItemId" />
                        <label th:for="${foodItem.id}" th:text="${foodItem.name}"></label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-danger">Delete Selected</button>
        </form>
    </div>

    <div th:replace="fragments :: footer"></div>
</body>
</html>