<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: header"></header>
    <div class="container">
        <h2 th:text="${title}">All Meals</h2>
        <a href="/meals/create" class="btn btn-primary mb-3">Create New Meal</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Meal Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="meal : ${meals}">
                <td th:text="${meal.mealType}">Meal Type</td>
                <td>
                    <a th:href="@{'/meals/view/' + ${meal.id}}" class="btn btn-info">View</a>
                    <a th:href="@{'/meals/edit/' + ${meal.id}}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>

