<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Login></title>
</head>
<body class="container">

<!-- Centered Form -->
<div class="d-flex justify-content-center align-items-center vh-100">

    <div class="card" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Welcome to Your Food Counter App!</h2>
            <p class="text-center mb-4">Please log in to continue.</p>

<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>
    <hr>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>
            <hr>

<p>Don't have an account? <a href="/register">Register for one.</a></p>

</body>
</html>